<div class="main_container">
<h2>My Projects</h2>

<div class="block">
<mat-card class="mat-card">
<img src="../assets/images/SanFran.JPG" width="50"/>
<p>Not only do I do web development. I also act as a hobby. Here is my website: <a href="https://reggielussier.com" target="_blank">Reggie Lussier</a></p>
  
</mat-card>
  
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOvKaAC2pxia0vjItnU2PZN%2FBus-App%3Fnode-id%3D0%253A1" allowfullscreen></iframe>

</div>
</div>

<!-- </div> -->
 <!-- </div>  -->
